[Desktop Entry]
Version=1.0
Type=Application
Name=mininal-browser
Icon=/usr/share/icons/minimal-browser.png
Exec=bash -c "cd /home/baba/Documents/project/github.com/netmarkjp/minimal-browser ; electron . http://google.com"
NoDisplay=false
Categories=X-GNOME-Other;
StartupNotify=false
Terminal=false
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
X-GNOME-SingleWindow=false
